<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo_UZublMM_U49zVwQK5NUr9Wgn4NjaQs</string>
	<key>GCM_SENDER_ID</key>
	<string>740619725797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.joe.chickenpixelvillage</string>
	<key>PROJECT_ID</key>
	<string>chicken-pixel-village</string>
	<key>STORAGE_BUCKET</key>
	<string>chicken-pixel-village.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:740619725797:ios:e9213bec684ee2f5b65d0c</string>
</dict>
</plist>
